body {
	margin: 0;
	/* font-family: 'AG-black', sans-serif; */
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: calc(0.6vw + 10px);
	background-color: rgb(25, 25, 25);
	/* background-color: rgb(202, 189, 153); */
	color: white;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'AG-bold', serif;
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

/* strong {
	font-family: 'AG-roman', sans-serif;
	font-weight: normal;
} */

em {
	font-family: 'AG-light', sans-serif;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

li {
	margin: 0.5em 0;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@font-face {
	font-family: "AG-black";
	src: url("fonts/akzidenz-grotesk-black.eot");
	src: url("fonts/akzidenz-grotesk-black.woff") format("woff"),
	url("fonts/akzidenz-grotesk-black.otf") format("opentype"),
	url("fonts/akzidenz-grotesk-black.svg#filename") format("svg");
}

@font-face {
	font-family: "AG-bold";
	src: url("fonts/akzidenz-grotesk-bold-webfont.eot");
	src: url("fonts/akzidenz-grotesk-bold-webfont.woff") format("woff"),
	url("fonts/akzidenz-grotesk-bold-webfont.otf") format("opentype"),
	url("fonts/akzidenz-grotesk-bold-webfont.svg#filename") format("svg");
}

@font-face {
	font-family: "AG-light";
	src: url("fonts/akzidenz-grotesk-light-webfont.eot");
	src: url("fonts/akzidenz-grotesk-light-webfont.woff") format("woff"),
	url("fonts/akzidenz-grotesk-light-webfont.otf") format("opentype"),
	url("fonts/akzidenz-grotesk-light-webfont.svg#filename") format("svg");
}

@font-face {
	font-family: "AG-roman";
	src: url("fonts/akzidenz-grotesk-roman-webfont.eot");
	src: url("fonts/akzidenz-grotesk-roman-webfont.woff") format("woff"),
	url("fonts/akzidenz-grotesk-roman-webfont.otf") format("opentype"),
	url("fonts/akzidenz-grotesk-roman-webfont.svg#filename") format("svg");
}
